section.caroussel[b-t1qdpkm8p1] {
    margin: 0 auto;
    padding: 0 !important;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carossel-container[b-t1qdpkm8p1] {
    width:400%;
    height:auto;
    display:flex;
}

.btn-caroussel-previous[b-t1qdpkm8p1] {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    bottom: 18%;
    border: none;
    background-color: white;
}

    .btn-caroussel-previous img[b-t1qdpkm8p1]{
        height:32px;
    }

.btn-caroussel-next[b-t1qdpkm8p1] {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    right:0;
    bottom: 18%;
    border: none;
    background-color: white;
}

    .btn-caroussel-next img[b-t1qdpkm8p1] {
        height: 32px;
    }
