section.slider[b-e9iwycheu6] {
    margin: 0 auto;
    padding: 0 !important;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-container[b-e9iwycheu6] {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-container input[b-e9iwycheu6]{
    display: none;
}

.slide-children[b-e9iwycheu6] {
    width: 25%;
    height: 320px;
    position: relative;
    text-align: center;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .slide-children p[b-e9iwycheu6]{
        color:white;
    }

.backgroud-solid[b-e9iwycheu6] {
    background-color: #fff;
}

.black[b-e9iwycheu6] {
    background-color: #242629;
}

.blue[b-e9iwycheu6] {
    background-color: #1c31e6;
}

.pink[b-e9iwycheu6] {
    background-color: #f63954;
}

.yelow[b-e9iwycheu6] {
    background-color: #ffd800;
}

.triangle-right[b-e9iwycheu6] {
    width: 0;
    height: 0;
    border-top: 125px solid transparent;
    border-left: 25px solid #555;
    border-bottom: 125px solid transparent;
}

.btn-slides-left[b-e9iwycheu6] {
    border: 0;
    padding: 0;
    height: 310px;
    color: white;
    background-color: transparent;
    z-index: 100;
    position: absolute;
}

    .btn-slides-left img[b-e9iwycheu6]{
        height:32px;
    }

.btn-slides-right[b-e9iwycheu6] {
    border: 0;
    padding: 0;
    height: 310px;
    color: white;
    background-color: transparent;
    z-index: 100;
    position: absolute;
    right: 0;
}

    .btn-slides-right img[b-e9iwycheu6] {
        height: 32px;
    }

.nav-slides[b-e9iwycheu6] {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.nav-item-auto[b-e9iwycheu6] {
    z-index: 100;
    position: absolute;
    left: 47%;
    bottom: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.nav-item-auto label[b-e9iwycheu6]{
    color:#fff;
}

.select-slide[b-e9iwycheu6]{
    width:10px;
    height:10px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin:2px;
    cursor:pointer;
    transition: 1s;
}

.select-slide:hover[b-e9iwycheu6] {
    background-color:#ffffffc8;
    transition: 1s;
}

